* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #f2c14e;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'finger paint' cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(240, 248, 248); */
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border: 2px solid;
}

.btn:nth-child(3n) {
    border-right:none;
}

.btn:nth-child(6) ~.box {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(233, 76, 102);
    color: black;
    border-color: rgb(216, 83, 216);
    font-size: 18px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}